.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.subtotal > button {
    background-color: #F0C14B;
    border: 1px solid;
    border-color: #A88734 #9C7E31 #846A29;
    margin-top: 10px;
    color: #111;
    height: 30px;
    border-radius: 2px;
    width: 100%;
}